<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706983229812-cr6jp312584ga817dkcmfnvh0o1c8h96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706983229812-cr6jp312584ga817dkcmfnvh0o1c8h96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>706983229812-17pdbqt2t7b2mk3hspdtliul6u88u18r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd7ppGUnsTmdegCfOJ7Yq4t4GSj0voXAk</string>
	<key>GCM_SENDER_ID</key>
	<string>706983229812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streamline.prototype</string>
	<key>PROJECT_ID</key>
	<string>streamline-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>streamline-prototype.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706983229812:ios:064bb003050e32f5215421</string>
</dict>
</plist>